@font-face {
  src: url("../font/futurapt.ttf");
  font-family: futura;
}

@font-face {
  src: url("../font/cambria.ttc");
  font-family: cambria;
}

@font-face {
  font-family: FuturaPTBook;
  src: url("../font/FuturaPTBook.otf");
}
@font-face {
  font-family: "Futura PT Medium";
  src: url("../font/FuturaPTMedium.otf");
}
@font-face {
  font-family: "Futura PT Demi";
  src: url("../font/FuturaPTDemi.otf");
}
@font-face {
  font-family: FuturaPTBook;
  src: url("../font/FuturaPTBook.otf");
}
@font-face {
  font-family: "Futura PT Medium";
  src: url("../font/FuturaPTMedium.otf");
}
@font-face {
  font-family: "Futura PT Demi";
  src: url("../font/FuturaPTDemi.otf");
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(249, 227, 190, 0.2);
  background-image: url(../images/altuka-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

body,
html {
  font-size: 16px;
}
.container {
  max-width: 1170px !important;
}
p {
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
/*Index*/
.pagination li:not(:first-child):not(:last-child) {
    border-width: 2px;
    border-color: #eff4f8;
    border-style: solid;
    background-color: white;
    min-width: 32px;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .25s ease;
}
.pagination li:not(:first-child):not(:last-child) a {
  font-size: 20px;
    line-height: 1.25;
    font-weight: 600;
    color: #212121;
}
.pagination li:not(:first-child):not(:last-child) a{
  text-decoration: none;
}
.pagination li:not(:first-child):not(:last-child).active {
  background-color: #1f97f3;
  
  border-color: #1f97f3;
}
.pagination li:not(:first-child):not(:last-child).active a {
  color: white;}
.pagination li:not(:first-child):not(:last-child):hover {
  background-color: #1f97f3;
  border-color: #1f97f3;
}
.pagination li:not(:first-child):not(:last-child):hover a{
  color: white;
}


.pagination .prev, .pagination .next {
    border-width: 2px;
    border-color: #eff4f8;
    border-style: solid;
    background-color: white;
    min-width: 32px;
    min-height: 32px;
    transition: all .25s ease;
    font-size: 15px;
    line-height: 1.667;
    font-weight: 600;
}
.pagination .prev:hover, .pagination .next:hover {
  background-color: #1f97f3;
  border-color: #1f97f3;
}
.pagination .prev:hover i, .pagination .next:hover i{
  border-color: white;
}
.pagination a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.pagination .arrow {
  border: solid #212121;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.pagination .arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.pagination .arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.margin__logo {
  margin: auto auto;
}
.header .dropdown {
  position: absolute;
  right: 1rem;
  top: 0.2rem;
}
.header .logo {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}
.header .basket {
  padding-top: 0.2rem;
}
.light-menu {
  background-color: #f3f1ee;
  font: 14px "FuturaPTBook", sans-serif;
  color: #003d60;
  padding: 5px 0;

  /* height: 22px; */
}
.light-menu ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 0;
  justify-content: space-around;
}
.light-menu .lang_menu {
  justify-content: flex-end;
}

@media (max-width: 640px) {
  .light-menu .col-sm-8 {
    margin: 10px 0;
  }
}
.light-menu .lang_menu li {
  margin-right: 15px;
}
.light-menu ul li a {
  font: 14px "FuturaPTBook", sans-serif;
  color: #003d60;
}
.phone a {
  float: right;
  font: 14px "FuturaPTBook", sans-serif;
  color: #003d60;
}
.blue-menu {
  background: #003d60;
  padding: 15px 0;
}
.carousel-caption {
  bottom: 20%;
}
.carousel-caption h1 {
  /* font: 800 55px "Cambria Bold"; */
  color: #ffffff;
  font-weight: 600;
  font-size: 55px;
  font-family: sans-serif;
}
.hamburger {
  margin-left: 30px !important;
  padding: 5px 15px !important;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #ffffff !important;
}
.sub-menu {
  display: none;
  background-color: #ffffff;
  padding: 20px;
  width: 100%;
  position: absolute;
  top: 87px;
  z-index: 999;
}

.sub-menu2 {
  display: flex;
}
.blue-title h3 {
  /* font-family: FuturaPTBook !important; */
  font-family: sans-serif;
  font-size: 38px !important;
}
.sub-menu ul {
  list-style: none;
}
.sub-menu .nav-pills a {
  color: #003d60;
  font: 16px/36px "FuturaPTBook", sans-serif;
  background-color: none;
  padding: 0 !important;
  margin-left: 2rem;
  margin-right: 1rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: none !important;
  color: #003d60;
}
.sub-menu ul li a:hover {
  color: #25b2b8;
  transition: all 0.3s ease-in-out;
}
.catalog-menu-btn {
  cursor: pointer;
  display: flex;
}
.catalog-menu-btn p {
  margin-top: 9px;
  font: 14px "FuturaPTBook", sans-serif;
  color: #ffffff;
  text-align: right;
}

@media (max-width: 1024px) {
  .catalog-menu-btn p {
    display: none;
  }
}

@media (max-width: 768px) {
  .catalog-menu-btn p {
    display: block;
  }
  .menu ul li {
    margin-left: 10px;
  }
}

@media (max-width: 425px) {
  .menu ul li {
    margin-left: 0px;
  }
}

.search {
  display: flex;
}
.search input {
  width: 90%;
  border: none;
  border-radius: 7px 0 0 7px;
  height: 34px;
  padding-left: 1rem;
}
.search button {
  border: none;
  background: #ffffff;
  border-radius: 0 7px 7px 0;
  width: 10%;
}

.tab-content {
  font-family: FuturaPTBook;
}
.basket a {
  font: 14px "FuturaPTBook", sans-serif;
  color: #ffffff;
  text-decoration: none;
}
.basket a img,
.dropdown-toggle img {
  margin-right: 10px;
}
.dropdown-toggle {
  cursor: pointer;
  font: 14px "FuturaPTBook", sans-serif;
  color: #ffffff;
  text-decoration: none;
}
.blue-bg {
  padding: 30px 0;
  background: #00aab7;
}
.blue-bg h3 {
  font: 34px "FuturaPTBook", sans-serif;
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
}
.icon-item img {
  display: block;
  margin: 0 auto 20px;
}
.icon-item p {
  text-align: center;
  /* font: 16px/22px "FuturaPTBook", sans-serif; */
  font: 16px/22px;
  font-family: sans-serif;
  color: #ffffff;
}
.bg-white {
  padding-top: 50px;
  background: #ffffff url("../images/fot-bg.png") center bottom no-repeat;
  min-height: 590px;
}

.blue-title h3 {
  color: #003d60;
  /* font: 44px "Cambria", sans-serif; */
  font-size: 44px;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 3rem;
}
.blue-title h4 {
  color: #003d60;
  font-size: 44px ;
  font-family: sans-serif;
  /* font: 44px "Cambria", sans-serif; */
  margin-bottom: 50px;
}
.blue-title h5 {
  color: #003d60;
  font: 30px "FuturaPTBook", sans-serif;
  text-align: center;
  margin: 50px 0 0;
}
.blue-title p {
  color: #003d60;
  font: 17px/28px "FuturaPTBook", sans-serif;
  margin-bottom: 20px;
}
.owl1 .item img {
  width: 100% !important;
}
.owl1 .item p {
  color: #003d60;
  font: 17px/24px "FuturaPTBook", sans-serif;
  text-align: center;
}
.owl1 .item .price p {
  color: #00aab7;
  font: 20px/24px "Futura PT Demi", sans-serif;
  text-align: center;
}
.owl1 .item .price p span {
  color: #00aab7;
  font: 16px/24px "Futura PT Demi", sans-serif;
  text-align: center;
  text-decoration: line-through;
}
.owl1 .item {
  position: relative;
  background: #f3f1ef;
  min-height: 350px;
}

.content .carousel-item {
  background-size: cover;
  padding: 120px 0;
  background-repeat: no-repeat;
  min-height: 500px;
}

.content .carousel-item .carousel-caption {
  position: initial;
  max-width: 660px;
  margin: auto;
}
.owl1 .item .no-product {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #cb0d29;
  text-align: center;
}
.owl1 .item .basket-btn {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #00aab7;
  text-align: center;
}
.owl1 .item:hover .basket-btn {
  display: block;
  transition: all 0.3s ease-in-out;
}

.catalog .btn.btn-to-basket {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #00aab7;
  text-align: center;
  color: #fff;
  font: 16px "FuturaPTBook", sans-serif;
  color: #ffffff;
  text-decoration: none;
}

.catalog .card:hover .btn.btn-to-basket {
  display: block;
  transition: all 0.3s ease-in-out;
}

.catalog .btn.btn-to-basket-product-own {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #00aab7;
  text-align: center;
  color: #fff;
  font: 16px "FuturaPTBook", sans-serif;
  color: #ffffff;
  text-decoration: none;
}

.catalog .card:hover .btn.btn-to-basket-product-own {
  display: block;
  transition: all 0.3s ease-in-out;
}

.catalog .btn.btn-not-basket {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #cb0d29;
  text-align: center;
  font: 16px "FuturaPTBook", sans-serif;
  color: #ffffff;
  text-decoration: none;
  left: 0;
}

.catalog .card {
  position: relative;
  background: #f3f1ef;
  min-height: 460px;
  margin-bottom: 1rem;
}

.catalog .card-title {
  color: #003d60;
  font: 17px/24px "FuturaPTBook", sans-serif;
  text-align: center;
  margin-top: 15px;
}

.catalog .card-img {
  overflow: hidden;
  background-color: #fff;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog .card-price {
  color: #00aab7;
  font: 20px/24px "Futura PT Demi", sans-serif;
  text-align: center;
}

.owl1 .item .basket-btn a,
.owl1 .item .no-product a {
  font: 16px "FuturaPTBook", sans-serif;
  color: #ffffff;
  text-decoration: none;
}
.owl1 .item .basket-btn button {
  font: 16px "FuturaPTBook", sans-serif;
  color: #ffffff;
  text-decoration: none;
}
.owl1 .item img {
  height: 200px;
}
.owl1 .owl-nav button.owl-prev {
  background: url("../images/left.png") center center no-repeat;
  height: 41px;
  width: 41px;
  position: absolute;
  top: 30%;
  left: -5%;
  outline: none;
}
.owl1 .owl-nav button.owl-next {
  background: url("../images/right.png") center center no-repeat;
  height: 41px;
  width: 41px;
  position: absolute;
  top: 30%;
  right: -5%;
  outline: none;
}
.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span {
  display: none !important;
}
.catalog-btn {
  background: #00aab7;
  padding: 10px 30px;
  width: 200px;
  text-align: center;
  display: block;
  margin: 50px auto;
}
.catalog-btn a {
  font: 16px "FuturaPTBook", sans-serif;
  color: #ffffff;
}
.rel-img {
  position: relative;
  min-height: 300px;
}
.rel-img .first-img img {
  height: 230px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 10;
  right: 20%;
  opacity: 1;
  z-index: 15;
}

.owl .item {
  max-height: 200px;
  overflow: hidden;
}

@media (max-width: 425px) {
  .rel-img .first-img img {
    right: 5%;
  }
  .second-img img {
    left: 5%;
  }
  .owl .owl-nav {
    height: 40px;
  }
  .owl .owl-nav button {
    top: auto !important;
    bottom: 0;
  }
  .owl .owl-nav button.owl-next {
    right: 20% !important;
  }
  .owl .owl-nav button.owl-prev {
    left: 20% !important;
  }
}
@media (max-width: 375px) {
  .rel-img .first-img img {
    right: 0;
  }
  .second-img img {
    left: 0;
  }
  .third-img img {
    right: 3%;
  }
}
@media (max-width: 320px) {
  .rel-img .first-img img {
    position: relative;
  }
  .second-img img {
    position: relative !important;
  }
  .third-img img {
    position: relative !important;
    right: 0% !important;
  }
  .rel-img {
    margin-bottom: 20px;
  }
}
.img-fluid {
  transition: all 0.5s;
}

.img-fluid:hover {
  z-index: 15;
  opacity: 1 !important;
  transform: scale(1.1);
}

.img-fluid:not(:hover) {
  z-index: 3;
}

.rel-img:hover img:not(:hover) {
  transform: scale(0.9);
}

.second-img img {
  height: 230px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2;
  left: 10%;
  top: 30%;
  /*opacity: .5;*/
}
.third-img img {
  height: 230px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  right: 10%;
  top: 10%;
  /*opacity: .5;*/
}
.more-btn {
  background: #00aab7;
  padding: 10px 30px;
  width: 200px;
  text-align: center;
  margin: 20px 0;
}
.more-btn a {
  font: 16px "FuturaPTBook", sans-serif;
  color: #ffffff;
}
.owl-carousel .owl-item img {
  /*width: auto !important;*/
  display: block !important;
  margin: auto !important;
  object-fit: cover;
}
.owl .owl-nav button.owl-prev {
  background: url("../images/left-arrow-slider.png") center center no-repeat;
  height: 41px;
  width: 41px;
  position: absolute;
  top: -8px;
  left: -5%;
  outline: none;
}
.owl .owl-nav button.owl-next {
  background: url("../images/right-arrow-slider.png") center center no-repeat;
  height: 41px;
  width: 41px;
  position: absolute;
  top: -8px;
  right: -5%;
  outline: none;
}
.owl-carousel {
  margin-bottom: 50px;
}
.contact-icon {
  margin-bottom: 20px;
}
.contact-icon p {
  margin: 10px 0;
  color: #003d60;
  font: 16px "FuturaPTBook", sans-serif;
}
.contact-icon p a,
.contact-icon span {
  color: #00aab7;
  font: 16px "FuturaPTBook", sans-serif;
  text-decoration: underline;
  display: block;
}

.mail-input {
  display: flex;
  margin-bottom: 50px;
}
.mail-input input {
  border: 1px solid #003d60;
  width: 80%;
  height: 47px;
  padding-left: 30px;
}
.mail-input button {
  margin-left: 10px;
  height: 47px;
  width: 10%;
  color: #ffffff;
  background: #003d60;
  border: none;
  font-size: 30px;
  cursor: pointer;
}
.mail-input button:hover {
  color: #003d60;
  background: #ffffff;
  transition: all 0.3s ease-in-out;
}
.socials {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.socials a {
  color: #787878;
  font-size: 15px;
  border: 2px solid #878787;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  line-height: 20px;
  text-align: center;
}
.socials a:hover {
  transition: all 0.3s ease-in-out;
  color: #003d60;
  border: 2px solid #003d60;
}
.rights p {
  color: #003d60;
  font: 14px/28px "FuturaPTBook", sans-serif;
}
.fot-text p,
.fot-text p a {
  color: #003d60;
  font: 14px/28px "FuturaPTBook", sans-serif;
}
.fot-list ul {
  list-style: none;
  padding-left: 0;
}
.fot-list ul li a {
  color: #003d60;
  font: 14px/28px "FuturaPTBook", sans-serif;
}
.main-footer {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
}
.owl .item img {
  width: auto !important;
}
@media (max-width: 576px) {
  .basket,
  .dropdown {
    margin: 10px 0;
  }
  .second-img img {
    position: relative;
    left: 0;
  }
  .first-img img {
    right: 5%;
  }
  .w-100 {
    width: auto !important;
  }
  .mail-input button {
    width: auto;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .owl .owl-nav button.owl-next,
  .owl .owl-nav button.owl-prev,
  .owl1 .owl-nav button.owl-next,
  .owl1 .owl-nav button.owl-prev {
    position: relative;
  }
  .carousel-caption {
    max-width: 500px;
  }
  .content .carousel-item {
    min-height: 420px;
  }
}

@media (max-width: 425px) {
  .content .carousel-item {
    min-height: 370px;
  }
  .content .carousel-item .carousel-caption {
    max-width: 300px;
  }
  .content .carousel-item .carousel-caption h1 {
    font-size: 32px;
  }
}
/*index end*/
/* contact page*/
.contact-page {
  background-color: rgba(249, 227, 190, 0.2);
  height: 100%;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.contact-page .breadcrumbs {
  display: flex;
  padding: 0;
}

.contact-page .breadcrumbs li {
  list-style-type: none;
  font-family: futura;
  color: #003d60;
  font-size: 14px;
}

.contact-page .contact-title {
  color: #003d60;
  font-size: 40px;
  font-family: cambria;
  line-height: 28px;
  padding-bottom: 2.6429rem;
}

.contact-page .box-contact {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.contact-page .contact-location {
  padding-top: 2.3571rem;
}

.contact-page .contact-location li,
.contact-phone li,
.contact-clock li,
.contact-mail li {
  list-style-type: none;
}

.contact-page .contact-location::before {
  content: url("../images/location.png");
  position: absolute;
  left: 1rem;
}

.contact-page .contact-phone::before {
  content: url("../images/mobile-phone.png");
  position: absolute;
  left: 1rem;
}

.contact-page .contact-clock::before {
  content: url("../images/clock.png");
  position: absolute;
  left: 1rem;
}

.contact-page .contact-mail::before {
  content: url("../images/mail.png");
  position: absolute;
  left: 1rem;
}

.contact-page .contact-location .contact-location-title,
.contact-phone-title,
.contact-clock-title,
.contact-mail-title {
  letter-spacing: 0.24px;
  color: rgba(30, 0, 0, 0.6);
  font-family: "Scada", sans-serif;
  font-size: 14px;
}

.contact-page .contact-location .contact-location-info,
.contact-mail-info {
  color: #003d60;
  font-size: 16px;
  font-family: futura;
  line-height: 30px;
  padding-top: 1.2rem;
}

.contact-page .box-contact li:hover {
  cursor: pointer;
}

.contact-page .contact-phone-info,
.contact-clock-info {
  font-size: 16px;
  color: #00aab7;
  font-family: futura;
}

.contact-page .contact-phone-info {
  text-decoration: underline;
}

.contact-page .contact-phone-info:hover {
  text-decoration: none;
}

.contact-page .contact-list-info {
  display: flex;
  flex-wrap: wrap;
}

.contact-page .map {
  padding-top: 2.3571rem;
  padding-bottom: 3rem;
}

@media only screen and (min-width: 576px) and (max-width: 1024px) {
  .contact-page .map .contact-map {
    width: 100% !important;
  }
}

@media only screen and (max-width: 576px) {
  .contact-page {
    height: auto;
    padding-bottom: 2rem;
  }
}

/* contact page end */

/* questions page */
.questions-page {
  background-color: rgba(249, 227, 190, 0.2);
  height: auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.questions-page .breadcrumbs {
  display: flex;
  padding: 0;
}

.questions-page .breadcrumbs li {
  list-style-type: none;
  font-family: futura;
  color: #003d60;
  font-size: 14px;
}

.questions-page .questions-title {
  color: #003d60;
  font-size: 40px;
  font-family: cambria;
  line-height: 28px;
  padding-bottom: 2.6429rem;
}

.questions-page .questions-box-content {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.questions-page .questions-box-content .questions-box-tab {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.questions-page .questions-box-content .questions-box-tab li:hover {
  cursor: pointer;
}

.questions-page .questions-box-content .questions-box-tab li {
  list-style-type: none;
  font-size: 16px;
  font-family: futura;
  border: 1px solid #d9d9d9;
  margin-top: 20px;
  padding: 12px 0 12px 21px;
}

.questions-page .questions-box-content .questions-box-tab li a {
  color: #003d60;
}
.questions-page .questions-box-content .questions-box-tab li a:focus {
  outline: none;
}
.questions-page .questions-box-content .questions-box-tab li a:hover {
  text-decoration: none;
}

.questions-page .questions-box-content .questions-box-tab .questions-item-tab-active {
  color: #00aab7;
}

.questions-page .questions-box-content .questions-box-info-active {
  display: block !important;
}

.questions-page .questions-box-content .questions-box-tab .questions-box-info p {
  color: #858585;
  font-size: 15px;
  line-height: 30px;
  font-family: futura;
  padding: 0 200px 0 20px;
}

.questions-page .questions-box-content .questions-box-tab li img {
  padding-left: 34px;
}

.questions-page .questions-box-content .questions-box-tab li .img-active {
  transform: rotate(90deg);
  padding: 0;
  margin-left: 34px;
}

@media only screen and (max-width: 576px) {
  .questions-page .questions-box-content .questions-box-tab .questions-box-info p {
    padding: 0 10px 0 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .questions-page .questions-box-content .questions-box-tab .questions-box-info p {
    padding: 0 20px 0 40px;
  }
}

/* end questions page */

/* catalog style */
.catalog {
  margin-top: 50px; /* will remove */
}
.catalog .link {
  font-size: 12px;
  line-height: 28px;
  color: #003d60;
  font-family: futura;
}
.catalog .title {
  font-size: 40px;
  line-height: 28px;
  color: #003d60;
  font-family: sans-serif;
  /* font-family: Cambria; */
}
.catalog .right-filter {
  padding: 0 !important;
}
.catalog .catalog-tabs {
  background-color: #43abb7;
  padding: 30px;
}
.catalog .catalog-tabs ul li {
  list-style: none;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
  font-family: futura;
  font-weight: 500;
}
.catalog .catalog-tabs ul li a {
  color: #ffffff;
}
.catalog .catalog-tabs ul li.current {
  background: url("../images/right-arrow.png") no-repeat center left;
  margin-left: -5px;
  text-indent: 25px;
}
.catalog .filter-card {
  margin-bottom: 50px;
}

.catalog .filter-card select {
  width: calc(33.3333% - 20px);
  border: 1px solid #083d5f;
  padding: 7px;
  color: #003d60;
  font-family: futura;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent url("../images/drop-down-arrow.png") no-repeat 210px center;
  background-size: 14px;
}
.catalog .filter-card select:focus {
  outline: none;
  box-shadow: none;
}
.catalog .col-sm-4 .card {
  border: none;
  text-align: center;
  border-radius: 0;
}
.catalog .col-sm-4 .card .card-content {
  background: #f3f1ef;
}
.catalog .col-sm-4 .card .card-content .card-title {
  padding: 15px;
  line-height: 24px;
  font-size: 17px;
  color: #003d60;
  font-family: futura;
  text-align: center;
  background: #f3f1ef;
}
.catalog .col-sm-4 .card .card-content .prices {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.catalog .col-sm-4 .card .card-price {
  font-size: 20px;
  line-height: 24px;
  color: #00aab7;
  font-family: futura;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}
.catalog .col-sm-4 .card .old-price {
  font-size: 15px;
}
.catalog .col-sm-4 .card .card-price.old-price::before {
  border-bottom: 1px solid red;
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
}
.catalog .col-sm-4 .card:hover .buttons button {
  visibility: visible;
  transition: 0.5s;
}
.catalog .col-sm-4 .card .buttons button {
  width: 100%;
  color: #fff;
  border-radius: 0;
  padding: 0px;
  visibility: hidden;
}
.catalog .col-sm-4 .card .buttons .btn-to-basket {
  background: #43abb7;
}
.catalog .col-sm-4 .card .buttons .btn-not-basket {
  background: #cc3929;
}
.catalog .col-sm-4 .card .buttons .btn-to-basket-product-own {
  background: #43abb7;
}
.catalog .card .card-img img {
  max-width: 230px;
  max-height: 160px;
}
/* media */
@media only screen and (max-width: 476px) {
  .catalog .filter-card {
    margin: 20px auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  .catalog .filter-card select {
    width: 100%;
    margin: 20px auto;
    background-position: 297px;
  }
  .catalog .filter-card select:nth-child(2) {
    margin: 0 !important;
  }
  .catalog .col-sm-4 .card .card-price.old-price::before {
    border-bottom: 1px solid red;
    position: absolute;
    content: "";
    width: 30% !important;
    height: 50%;
  }
}
@media only screen and (max-width: 876px) {
  .catalog .catalog-tabs ul {
    padding: 0;
  }
  .catalog .col-sm-4 .card .card-content .prices {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .catalog .col-sm-4 .card .card-content .prices .new-price {
    margin-bottom: 0;
  }
  .catalog .col-sm-4 .card .card-price.old-price::before {
    border-bottom: 1px solid red;
    position: absolute;
    content: "";
    width: 50%;
    height: 50%;
  }
}

.filter-header {
  display: flex;
}
.filter-header .filter-header__select select {
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #083d5f;
  color: #083d5f;
  padding: 7px;
  background-color: transparent;
  background-image: url(../images/drop-down.jpg);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 90% 50%;
  font-family: futura;
}
.filter-txt p{
  font-family: futura;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-size: 26px;

}

.filter-header .filter-header__select select:hover {
  cursor: pointer;
}
.filter-header .filter-header__select .filter-select__center {
  border: 1px solid #083d5f;
}
.filter-header .filter-header__select .filter-select__center a {
  width: 100%;
  display: flex;
  color: #083d5f;
  padding: 7px 12px;
  background-color: transparent;
  background-image: url(../images/drop-down.jpg);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 90% 50%;
  font-family: futura;
}
.filter-header .filter-header__select .filter-select__center a:hover {
  text-decoration: none;
}
.filter-header .filter-header__select .filter-select__center .filter-select__center-input_wrapper {
  padding: 7px 12px;
}
.filter-header
  .filter-header__select
  .filter-select__center
  .filter-select__center-input_wrapper
  .filter-select__center-input
  input {
  width: 8rem;
  border: 1px solid #083d5f;
  color: #083d5f;
  margin-top: 0.5rem;
  text-align: center;
  font-weight: 700;
}
.filter-header
  .filter-header__select
  .filter-select__center
  .filter-select__center-input_wrapper
  .filter-select__center-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: futura;
  color: #083d5f;
}
.filter-header
  .filter-header__select
  .filter-select__center
  .filter-select__center-input_wrapper
  .filter-select__center-input
  input[type="number"]::-webkit-inner-spin-button,
.filter-header
  .filter-header__select
  .filter-select__center
  .filter-select__center-input_wrapper
  .filter-select__center-input
  input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.filter-header
  .filter-header__select
  .filter-select__center
  .filter-select__center-input_wrapper
  .filter-select__center-input
  input[type="number"] {
  -moz-appearance: textfield;
}
@media only screen and (max-width: 576px) {
  .filter-header {
    display: flex;
    flex-wrap: wrap;
  }
  .filter-header .filter-header__select {
    margin-top: 0.5rem;
  }
}
/* end media */
/* end catalog style */

/* Feedback*/
.feedback {
  font-family: futura;
  color: #003d60;
  height: auto;
  margin: 2rem 0 3rem 0;
}

.feedback .title__h2 {
  font-family: FuturaPTBook;
}

.feedback .container {
  background: #fff;
}

.feedback-title {
  color: #00aab7;
  margin: 3rem 0;
  font-size: 20px;
}

.feedback .stars-rate {
  display: flex;
}

.feedback .stars-rate img {
  width: 13px;
}

.feedback .stars-display {
  display: flex;
}

.feedback .stars-display img {
  width: 13px;
}

.feedback .feedback-form {
  width: 100%;
  padding-left: 1rem;
  margin-top: 2rem;
}

.feedback .feedback-form h2 {
  color: #003d60;
  font-size: 16px;
}

.feedback .feedback-form p {
  color: #003d60;
}

.feedback .feedback-form input {
  border: 1px solid #e3e3e3;
  height: 34px;
  width: 13rem;
}

.feedback .feedback-form textarea {
  width: 50%;
  min-height: 100px;
  border: 1px solid #e3e3e3;
  color: #a6a19e;
  padding-left: 1rem;
}

.feedback .submit-button {
  padding-top: 0.4rem;
  width: 170px;
  height: 36px;
  color: #fff;
  background: #00aab7;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
  margin-top: 3rem;
  margin-bottom: 4rem;
  margin-left: 1rem;
}

.feedback .submit-button:hover {
  color: #fff;
  text-decoration: none;
}

.feedback .comment h3 {
  margin-bottom: 1rem;
  font-family: FuturaPTBook;
}

.feedback .comment .comment-text {
  margin-top: 1rem;
}

.feedback .pagination-feedback ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
}

.feedback .pagination-feedback ul li {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 1rem;
  color: #00aab7;
  cursor: pointer;
}

.feedback .pagination-feedback ul li:last-child::after {
  content: " »";
  display: inline-block;
  margin-left: 0.3rem;
}

.Up {
  width: 115px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right: 100px;
  display: none;
  text-indent: -9999px;
  z-index: 999;
  cursor: pointer;
}

/*END feedback*/

.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: none;
  text-indent: -9999px;
  background: url("../images/icon_top.png") no-repeat;
}
.scrollup:hover {
  opacity: 0.7;
}
.scrollup:focus {
  outline: none;
}

/*Cart*/

/* .cart p {
  font-family: FuturaPTBook;
} */

.cart {
  background-color: rgba(249, 227, 190, 0.2);
  height: 100%;
  padding-bottom: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 2rem;
}

.cart .contact-title {
  color: #003d60;
  font-size: 40px;
  /* font-family: cambria; */
  font-family: sans-serif;
  line-height: 28px;
  padding-bottom: 2.6429rem;
}

.white-background {
  background: #fff;
}

.cart .breadcrumbs {
  display: flex;
  padding: 0;
}

.cart .breadcrumbs li {
  list-style-type: none;
  font-family: futura;
  color: #003d60;
  font-size: 14px;
}

.cart .white-background {
  background: #fff;
  overflow: hidden;
}

.cart .white-background p,
.cart .white-background span,
.cart .white-background img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
  -webkit-user-drag: none;
  -moz-window-dragging: none;
}

.cart .white-background__column--flex {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgb(0, 61, 96);
}
.basket-quantity {
  text-align: center;
}
.basket-quantity input {
  padding: 0.5rem 0.7rem;
}
.btn-delete-product-from-basket{
  cursor: pointer;
}
.cart .white-background__column--flex:last-child {
  border-bottom: 1px solid rgb(0, 61, 96);
}
.quantity {
  padding: 0.2rem 0.7rem;
  border-radius: 5px;
  outline: none;
}

.cart .white-background__column--flex-title {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 0.5rem 0;
}

.cart .white-background__column--flex-title .vertical-column-1 {
  justify-content: space-evenly;
}

.cart .white-background__column--flex-title:nth-child(1) {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

.cart .white-background__column--flex-title:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 0.5rem 0;
}

.cart .white-background__column--flex-endTitle {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 0.5rem 0;
}

.cart .white-background__column--flex-title-endTitle,
.cart .white-background__column--flex-title,
.cart .vertical-column-1,
.cart .vertical-column-2,
.cart .vertical-column-3,
.cart .vertical-column-4 {
  display: flex;
  justify-content: space-around;
}

.cart .vertical-column-2 {
  flex-direction: column;
  text-align: left;
  color: #003d60;
  font-weight: 600;
  font-size: 15px;
  justify-content: space-around;
  padding: 15px;
}

.cart .vertical-column-2 span {
  color: #929292;
  font-size: 12px;
}

.cart .vertical-column-3 {
  justify-content: center;
  color: #00aab7;
  align-items: center;
}
.cart .vertical-column-4 {
  justify-content: center;
  color: #00aab7;
}

.cart .vertical-column-3 span {
  justify-content: center;
  margin: 0 1rem;
  width: 29px;
  height: 29px;
  text-align: center;
  transition: all 0.3s;
  color: #858585;
  cursor: pointer;
}

.cart .vertical-column-3 span:hover {
  background: #9b9da5;
  border-radius: 50%;
}
.verical-column-money {
  display: block !important;
  padding-left: 5rem;
}
.border-basket-title {
  border-bottom: 1px solid rgb(0, 61, 96, 0.5);
}
.cart .svg-bin {
  fill: rgb(155, 157, 165, 0.8);
  transition: all 0.3s;
}
.cart .svg-bin:hover {
  fill: rgb(199, 34, 34);
}

.cart .total {
  color: rgb(0, 0, 0, 0.5);
  font-weight: 500;
  display: flex;
  margin-top: 1rem;
  justify-content: space-around;
}

.cart .total span {
  color: #00aab7;
  font-weight: 500;
  margin-left: 1rem;
  margin-left: 0.5rem;
  padding-right: 1rem;
}

.cart .total .svg-bin {
  margin-right: 1rem;
}

.cart .submit-btn {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 1rem 3rem 0;
}
.cart .submit-btn__btn {
  display: inline-block;
  background: #00aab7;
  color: #fff;
  padding: 0.5rem 1rem;
}

.cart .submit-btn__btn {
  display: inline-block;
  background: #00aab7;
  color: #fff;
  padding: 0.5rem 1.8rem;
}

.cart .submit-btn__btn:hover {
  text-decoration: none;
}

.cart .white-background__column--flex .vertical-column-1 img {
  max-width: 80%;
}

.img-container {
  margin-left: 25px;  
}
.custom-class-text-center {
  text-align: center !important;
}
.btn-delete-all-from-basket{
  cursor: pointer;
}
.btn-delete-all-from-basket span{
  cursor: pointer !important;
}
.payment .alfa{
  width: 6rem;
  margin: .5rem 1rem  1rem 0;
}
@media (max-width: 780px) {
  .cart .white-background__column--flex {
    width: 100%;
    margin: 0 5%;
    border: 1px solid rgb(0, 61, 96, 0.6);
  }
  .cart .white-background__column--flex-endTitle {
    display: flex;
    flex-direction: row;
    width: 50%;
    padding: 0.5rem 0;
    text-align: center;
    justify-content: center;
  }
  .cart .white-background__column--flex-endTitle:nth-child(2) {
    display: none;
  }
  .cart .white-background__column--flex-endTitle:nth-child(3) {
    display: none;
  }
  .cart .white-background__column--flex-endTitle:nth-child(4) {
    display: none;
  }

  .cart .white-background__column--flex-title {
    display: none;
  }
  .cart .white-background__column--flex-title:nth-child(1) {
    display: none;
  }
  .cart .white-background__column--flex-title:nth-child(2) {
    display: none;
  }
  .cart .white-background__column--flex-endTitle {
    width: 100%;
    margin-top: 15px;
  }
  .img-container {
    margin-left: 0 !important;
  }
  .cart .submit-btn {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .basket-contacts-and-paying form .right-side .pay-price .total-payment {
    flex-direction: column;
  }

  .basket-contacts-and-paying form .right-side .pay-price .total-payment .btn-pay {
    width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 425px) {
  .basket-contacts-and-paying form {
    flex-direction: column;
  }
  .basket-contacts-and-paying form .left-side,
  .basket-contacts-and-paying form .right-side {
    width: 100% !important;
  }
  .basket-contacts-and-paying form .right-side .pay-price .total-payment .btn-pay {
    width: 100% !important;
  }
}

@media (max-width: 375px) {
  .basket-contacts-and-paying form .left-side .email-tel {
    flex-direction: column;
  }
  .basket-contacts-and-paying form .left-side .email-tel div {
    width: 100% !important;
  }
  .basket-contacts-and-paying form .left-side .email-tel div:nth-child(2) {
    margin-top: 15px;
  }
  .basket-contacts-and-paying form .right-side .pay-price .total {
    flex-direction: column;
  }
  .basket-contacts-and-paying form .right-side .pay-price .total p {
    width: 100% !important;
  }
  .basket-contacts-and-paying form .right-side .pay-price .total p:nth-child(2) {
    margin-top: 15px;
  }
}

@media (max-width: 580px) {
  .cart .white-background__column--flex-endTitle:first-child {
    width: 100%;
  }

  .cart .white-background__column--flex-endTitle:last-child {
    width: 100%;
  }
  .cart .submit-btn {
    padding: 0;
  }
  .cart .total span {
    padding-right: 0;
  }

  .main-footer {
    text-align: center;
  }
}

/*cart end*/
/*Cabinet */

.cabinet {
  background-color: rgba(249, 227, 190, 0.2);
  height: auto;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.cabinet p,
.cabinet a,
.cabinet button {
  /* font-family: FuturaPTBook; */
}

.cabinet .cabinet-form-row p {
  margin-top: 10px;
  font-family: futura;
  color: #656565;
}

.cabinet .breadcrumbs {
  display: flex;
  padding: 0;
}

.cabinet .breadcrumbs li {
  list-style-type: none;
  font-family: futura;
  color: #003d60;
  font-size: 14px;
}

.cabinet .contact-title {
  color: #003d60;
  font-size: 40px;
  /* font-family: cambria; */
  line-height: 28px;
  padding-bottom: 2.6429rem;
}

.cabinet .box-cabinet {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cabinet .box-cabinetFrame {
  background-color: #fff;
  width: 76%;
}
.cabinet .submit-btn {
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 1rem 3rem 0;
  width: 100%;
}

.cabinet .cabinet-form-row {
  width: 100%;
  margin-bottom: 1rem;
}

.cabinet .submit-btn__btn {
  display: inline-block;
  border: 1px solid #00aab7;
  color: #fff;
  padding: 0.5rem 1.8rem;
  border-radius: 1px;
  background-color: #00aab7;
  font-family: futura;
}
.cabinet .submit-btn__btn:hover {
  color: #00aab7;
  background-color: #fff;
  cursor: pointer;
}

.cabinet .tab-pane {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
}

.cabinet .nav {
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
}

.cabinet .nav a:nth-child(1) img {
  padding-right: 0.3rem;
}

.cabinet .nav a:nth-child(2) img {
  padding-right: 0.4rem;
}

.cabinet .nav a {
  color: #626262;
  font-size: 16px;
  font-family: futura;
  line-height: 40px;
}

.cabinet .nav .active {
  color: #003d60;
  font-weight: 600;
}
.cabinet .input-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabinet .input-wrap a {
  color: #00aab7;
  font-weight: 600;
  font-family: futura;
  font-size: 16px;
}

.cabinet .input-wrap input {
  border: 1px solid #dddddd;
  width: 268px;
  height: 39px;
  font-family: futura;
  color: #656565;
  font-size: 16px;
  padding: 13px 21px;
}
.cabinet .cabinet-form-row span {
  color: #00aab7;
  font-weight: 600;
  font-size: 18px;
  font-family: futura;
  line-height: 30px;
}

@media (max-width: 580px) {
  .input-wrap {
    flex-direction: column;
  }
}

/*Cabinet END*/

/* news page */
.news {
  background-color: rgba(249, 227, 190, 0.2);
  height: auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.news .breadcrumbs {
  display: flex;
  padding: 0;
}

.news .breadcrumbs li {
  list-style-type: none;
  font-family: futura;
  color: #003d60;
  font-size: 14px;
}

.news .news-title {
  color: #003d60;
  font-size: 40px;
  font-family: cambria;
  line-height: 28px;
  padding-bottom: 2.6429rem;
}

.news .news-contact-box {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
}

.news .news-contact-box .card {
  border: 0;
  max-height: 17rem;
}
.news-contact-box .card img {
  max-width: 100%;
}
.news .news-contact-box .card .card-body {
  padding: 0;
  padding-top: 0.3rem;
}

.news .news-contact-box .card .card-body .news-date {
  color: #a8a8a8;
  font-family: futura;
  font-size: 12px;
}

.news .news-contact-box .card .card-body .card-text-title {
  color: #00aab7;
  font-size: 17px;
  font-family: futura;
}
.card-info {
  font-size: 14px;
}

.news .news-contact-box .card .card-body .card-text {
  color: #003d60;
  font-size: 14px;
}

.news .news-contact-box .card .card-body .card-btn-more {
  color: #00aab7;
  font-size: 14px;
  text-decoration: underline;
  font-family: futura;
}

.news .news-contact-box .box-btn-more .more-btn {
  color: #00aab7;
  font-size: 16px;
  text-decoration: underline;
  font-family: futura;
  text-align: center;
  margin-top: 3rem;
  background: transparent;
}

.news .news-contact-box .box-btn-more .more-btn:focus {
  outline: none;
}

.news .news-contact-box .box-btn-more {
  display: flex;
  justify-content: center;
}

.news .box-more-card {
  display: flex;
  flex-wrap: wrap;
}

.news .search-box-title {
  color: #003d60;
  font-size: 18px;
  font-family: futura;
  text-align: center;
  margin-top: 4rem;
}

.news .search-box input[type="email"] {
  width: 100%;
  border: 1px solid #2d3234;
  padding: 16px 60px 14px 60px;
}

.news .search-box input::placeholder {
  color: #656565;
  font-size: 18px;
  font-family: futura;
}

.news .search-box-btn button {
  background-color: #003d60;
  border: 1px solid #003d60;
  padding: 9px 20px 8px 21px;
}

.news .search-box-btn button:hover {
  cursor: pointer;
}

.news .search-box-btn button i {
  color: #fff;
  font-size: 2rem;
}

.news .search-box-btn button:hover i {
  color: #003d60;
}

@media only screen and (max-width: 576px) {
  .news .search-box-btn button {
    width: 100%;
    margin-top: 1rem;
  }

  .news .news-contact-box {
    padding: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .news .search-box-btn button {
    width: 100%;
    margin-top: 1rem;
  }
  .news .card {
    margin-top: 1rem;
  }
}
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:active {
  color: #003d60;
}

.hvr-bounce-to-right:hover:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.top-btn {
  z-index: 9;
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: #00aab7;
  font-size: 16px;
}
.top-btn:hover {
  text-decoration: none;
  color: #00aab7;
}

/* end news page */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header .logo {
    padding: 0 !important;
  }
  .margin__logo {
    margin: 0;
  }
  .hamburger {
    margin-left: auto !important;
    padding: 5px 10px !important;
  }
  .search button {
    width: 20%;
  }
}

@media only screen and (max-width: 576px) {
  .phone a {
    margin-right: 0.5rem;
  }
  .margin__logo {
    margin: 0;
  }
  .blue-menu {
    height: 143px;
  }
  .sub-menu {
    position: absolute;
    top: 186px;
  }
  .carousel-caption {
    bottom: 0%;
  }
}

/* RAITING  */
.txt-center {
  text-align: center;
}
.hide {
  display: none;
}

.feedback .clear {
  float: none;
  clear: both;
}

.feedback .raiting-r {
  width: 120px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
}

.feedback .raiting-r > label {
  display: inline;
  padding: 0;
  margin: 0;
  position: relative;
  cursor: pointer;
  color: #000;
}

.feedback .raiting-r > label:hover,
.feedback .raiting-r > label:hover ~ label,
.feedback .raiting-r > input.radio-btn:checked ~ label {
  color: transparent;
}

.feedback .raiting-r > label:hover:before,
.feedback .raiting-r > label:hover ~ label:before,
.feedback .raiting-r > input.radio-btn:checked ~ label:before,
.feedback .raiting-r > input.radio-btn:checked ~ label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #00aab7;
}
/* END RAITING */

/* authorization  */

.authorization {
  padding-bottom: 3rem;
}
.authorization h3 {
  color: #00aab7;
  font-size: 40px;
  font-family: cambria;
  padding-bottom: 1rem;
  padding-top: 3rem;
}
.authorization-input input {
  border: 1px solid #e3e3e3;
  width: 100%;
  background: transparent;
  padding: 0.5rem 3rem 0.5rem 2rem;
  margin: 1rem 0;
}
.authorization-input input::placeholder {
  font-family: cambria;
}
.authorization-input {
  position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.authorization-input img {
  width: 2rem;
  position: absolute;
  bottom: 1.8rem;
  left: 20rem;
}
.authorization-input img:last-child {
  right: 20px;
  cursor: pointer;
}
.authorization-input img {
  left: auto;
}
.authorization-button {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.authorization-button button,
.register-button {
  background: #00aab7;
  padding: 10px 30px;
  border: 1px solid #00aab7;
  width: 200px;
  text-align: center;
  display: block;
  margin: 0.3rem auto;
  border-radius: 0;
  color: #fff;
}
.authorization-button button:hover,
.register-button:hover {
  background-color: transparent;
  color: #00aab7;
}
.authorization-button a:hover {
  text-decoration: none;
}

/* end authorization  */

/*///favorites-card*/

.favorites .col-lg-3 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.card-img .delete-icon {
  font-size: 20px;
  color: #a70c16;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}
.card-img .delete-icon:hover {
  transform: rotate(90deg);
  transition: all 0.3s ease;
}
/*///favorites-card*/

/* product card */
.product-card{
  padding-top: 1rem;
}
.product-card .breadcrumbs {
  display: flex;
  padding: 0;
}
.product-card .product-comment h1{
  font-family: futura;
  color: #003d60;
  font-size: 26px;
}
.product-card .breadcrumbs li {
  list-style-type: none;
  font-family: futura;
  color: #003d60;
  font-size: 14px;
}
.product-card .product-card__info {
  background-color: #fff;
}
.product-card .product-card__main-img img {
  width: 100%;
}
.product-card .product-card__small-img {
  padding-top: 1.5rem;
}
.product-card .product-card__small-img #magnet-form .field-productown-agreement label, .product-card .product-card__small-img #magnet-form .field-productown-agreement_2 label{
    text-align: justify;
}
.product-card .product-card__small-img #magnet-form button {
  display: inline-block;
  border: 1px solid #00aab7;
  color: #fff;
  padding: 0.5rem 1.8rem;
  border-radius: 1px;
  background-color: #00aab7;
  font-family: futura;
}
.product-card .product-card__small-img .magnet-form button:hover {
  color: #00aab7;
  background-color: #fff;
  cursor: pointer;
}
.product-card .product-card__small-img ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.product-card .product-card__small-img ul li {
  list-style-type: none;
}
.product-card .product-card__small-img ul li img {
  width: 6.5rem;
  height: 6.5rem;
}
.product-card .product-card__small-img ul li img:hover {
  cursor: pointer;
}
.product-card .product-card__info-main {
  background-color: #003d60;
  padding: 32px 28px;
}
.product-card .product-card__info-main .product-card__info-main_title {
  color: #fff;
  /* font-family: cambria; */
  font-size: 26px;
}
.product-card .product-card__info-main .product-card__info-main_link1 li,
.product-card .product-card__info-main .product-card__info-main_link2 li {
  list-style-type: none;
  color: #fff;
  font-family: futura;
  display: flex;
  align-items: center;
}
.product-card .product-card__info-main .product-card__info-main_link1 li p,
.product-card .product-card__info-main .product-card__info-main_link2 li p {
  margin-bottom: 0;
}
.product-card .product-card__info-main .product-card__info-main_link1 li:nth-child(2) {
  width: 32rem;
  height: 1px;
  background-color: #fff;
}
.product-card .product-card__info-main .product-card__info-main_link2 li:nth-child(2) {
  width: 31.5rem;
  height: 1px;
  background-color: #fff;
}
.product-card .product-card__info-main .product-card__info-main_link1,
.product-card .product-card__info-main .product-card__info-main_link2 {
  display: flex;
  padding: 0;
  align-items: center;
  margin-bottom: 0;
  justify-content: space-between;
}
.product-card .product-card__info-main .product-card__info-price {
  background-color: #fff;
}
.product-card .product-card__info-main .product-card__info-price .product-card__info-price_main li {
  list-style-type: none;
  color: #00aab7;
  font-family: futura;
  display: flex;
  align-items: center;
}
.product-card .product-card__info-main .product-card__info-price .product-card__info-price_main {
  display: flex;
  padding: 0;
  align-items: center;
  margin-bottom: 0;
  justify-content: space-between;
}
.product-card .product-card__info-main .product-card__info-price .product-card__info-price_main li:nth-child(2) {
  width: 24.5rem;
  height: 1px;
  background-color: #00aab7;
}
.product-card .product-card__info-main .product-card__info-price .product-card__info-price_main li p {
  margin-bottom: 0;
}
.product-card .product-card__info-main .product-card__info-price .product-card__info-price_main li:nth-child(1) p {
  font-size: 22px;
  font-weight: 700;
}
.product-card .product-card__info-main .product-card__info-price .product-card__info-price_main li:nth-child(3) p {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
.product-card .product-card__info-main .product-card__info-price {
  padding: 27px 30px;
  margin-top: 1rem;
}
.product-card .product-card__info-main .product-card__our-price_wrapper .product-card__our-price {
  color: #00aab7;
  font-family: futura;
  font-size: 18px;
  margin-bottom: 0;
}
.product-card .product-card__info-main .product-card__our-price_wrapper {
  display: flex;
  justify-content: flex-end;
}
.product-card .product-card__info-main .product-card__info-buy {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
.product-card .product-card__info-main .product-card__info-buy ul {
  display: flex;
  padding: 0;
  align-items: center;
}
.product-card .product-card__info-main .product-card__info-buy ul li{
  cursor: pointer;
  list-style-type: none;
  height: 43.4px;
}
.product-card .product-card__info-main .product-card__info-buy ul .plus,
.minus {
  color: #fff;
  background-color: #00aab7;
  list-style-type: none;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-card .product-card__info-main .product-card__info-buy ul li span {
  list-style-type: none;
  color: #fff;
}
.product-card .product-card__info-main .product-card__info-buy ul li span:hover {
  cursor: pointer;
}
.product-card .product-card__info-main .product-card__info-buy ul li input {
  width: 100px;
  text-align: center;
  border: 0;
  height: 100%;
}
.product-card .product-card__info-main .product-card__info-buy ul li input[type="number"]::-webkit-inner-spin-button,
.product-card .product-card__info-main .product-card__info-buy ul li input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-card .product-card__info-main .product-card__info-buy ul li input[type="number"] {
  -moz-appearance: textfield;
}
.product-card .product-card__info-main .product-card__info-buy-wrapper {
  display: flex;
}
.product-card .product-card__info-main .product-card__info-buy-wrapper input[type="submit"] {
  background-color: #00aab7;
  border: 0;
  color: #fff;
  padding: 10px 2rem;
  font-family: futura;
}
.product-card .product-card__info-main .product-card__info-buy-wrapper input[type="submit"]:hover {
  cursor: pointer;
}
.product-card .product-card__info-main .product-card__info-buy-wrapper .col-lg-6:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.product-card .product-card__info-main .product-card__info-footer_text p {
  color: #fff;
  font-family: futura;
  margin-bottom: 0.6rem;
  font-size: 18px;
  color: #fefbf5;
}
.product-card .product-text .product-text__title {
  font-family: cambria;
  font-size: 36px;
  color: #fefbf5;
}
.product-card .product-text .product-text__main {
  font-family: futura;
  font-size: 18px;
  color: #fefbf5;
}
.product-card .product-text {
  margin-top: 3.5rem;
}
.product-card .product-recom {
  margin-top: 3.5rem;
}
.product-card .product-recom .product-recom__title p {
  font-family: cambria;
  font-size: 44px;
  color: #003d60;
}
.product-card .product-recom .product-recom__title {
  display: flex;
  justify-content: center;
}
.select-product-heart form p {
  padding: 0.5rem 0;
}
.select-product-heart form p i:hover {
  cursor: pointer;
}
.active-select-product-heart {
  color: red !important;
}
/* end product card */

/* about page */
.about-page {
  background-color: rgba(249, 227, 190, 0.2);
  padding-top: 2rem;
  padding-bottom: 3rem;
  height: auto;
}
.about-page .breadcrumbs {
  display: flex;
  padding: 0;
}
.about-page .breadcrumbs li {
  list-style-type: none;
  font-family: futura;
  color: #003d60;
  font-size: 14px;
}
.about-page .about-page__title {
  color: #003d60;
  font-size: 40px;
  font-family: cambria;
  line-height: 28px;
  padding-bottom: 2.6429rem;
}
.about-page .about-page__box {
  background-color: #fff;
  padding: 2rem;
}
.about-page .about-page__box .about-page__box-text {
  font-family: futura;
  font-size: 16px;
  color: #000;
}

.about-page .box-contact {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.about-page .contact-location {
  padding-top: 2.3571rem;
}

.about-page .contact-location li,
.contact-phone li,
.contact-clock li,
.contact-mail li {
  list-style-type: none;
}

.about-page .contact-location::before {
  content: url("../images/location.png");
  position: absolute;
  left: 1rem;
}

.about-page .contact-phone::before {
  content: url("../images/mobile-phone.png");
  position: absolute;
  left: 1rem;
}

.about-page .contact-clock::before {
  content: url("../images/clock.png");
  position: absolute;
  left: 1rem;
}

.about-page .contact-mail::before {
  content: url("../images/mail.png");
  position: absolute;
  left: 1rem;
}

.about-page .contact-location .contact-location-title,
.contact-phone-title,
.contact-clock-title,
.contact-mail-title {
  letter-spacing: 0.24px;
  color: #1e0000;
  font-family: "Scada", sans-serif;
}

.about-page .contact-location .contact-location-info,
.contact-mail-info {
  color: #003d60;
  font-size: 16px;
  font-family: futura;
  line-height: 30px;
  padding-top: 1.2rem;
}

.about-page .box-contact li:hover {
  cursor: pointer;
}

.about-page .contact-phone-info,
.contact-clock-info {
  font-size: 16px;
  color: #00aab7;
  font-family: futura;
}

.about-page .contact-phone-info {
  text-decoration: underline;
}

.about-page .contact-phone-info:hover {
  text-decoration: none;
}

.about-page .contact-list-info {
  display: flex;
  flex-wrap: wrap;
}

.about-page .map {
  padding-top: 2.3571rem;
  padding-bottom: 3rem;
}

@media only screen and (min-width: 576px) and (max-width: 1024px) {
  .about-page .map .contact-map {
    width: 100% !important;
  }
}

/* end about page */

/* agreement */

.agreement-page {
  background-color: rgba(249, 227, 190, 0.2);
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.agreement-page .breadcrumbs {
  display: flex;
  padding: 0;
}

.agreement-page .breadcrumbs li {
  list-style-type: none;
  font-family: futura;
  color: #003d60;
  font-size: 14px;
}

.agreement-page .agreement-title {
  color: #003d60;
  font-size: 40px;
  font-family: cambria;
  line-height: 28px;
  padding-bottom: 2.6429rem;
}

.agreement-page .agreement__box {
  background-color: #fff;
  padding: 2rem;
}

.agreement-page .agreement__box p {
  color: #003d60;
  font-size: 16px;
  font-family: futura;
  color: #000;
}

.agreement-page .agreement__box ul li {
  color: #003d60;
}

.agreement-page .agreement__box ul li span {
  color: #000;
  font-size: 16px;
  font-family: futura;
}

/* end agreement */

/* sidebar */
.sidebar__tabs {
  background-color: #00aab7;
  padding: 2rem 2rem 3rem 3rem;
}
.sidebar__tabs ul {
  padding-left: 1rem;
}

@media (max-width: 768px) {
  .sidebar__tabs {
    padding: 2rem 1rem;
  }
}
.sidebar__tabs li {
  list-style-type: none;
  margin-top: 0.5rem;
}
.sidebar__tabs li a {
  color: #fff;
  font-family: futura;
  word-break: break-all;
  padding-left: 5px;
}
.sidebar__tabs li a:hover {
  text-decoration: none;
}
.sidebar__tabs .firts-tabs {
  font-weight: 600;
  font-size: 18px;
}
.sidebar__tabs .second-tabs {
  font-weight: 400;
  font-size: 16px;
}
.sidebar__tabs #second-tabs-city {
  padding-left: 0;
}
.sidebar__tabs .more-tabs {
  font-weight: 700;
  text-decoration: underline;
}
/* end sidebar */

/* news-card  */
.news-card-page {
  background-color: rgba(249, 227, 190, 0.2);
  padding-top: 2rem;
  padding-bottom: 3rem;
  height: auto;
}
.news-card-page .breadcrumbs {
  display: flex;
  padding: 0;
}
.news-card-page .breadcrumbs li {
  list-style-type: none;
  font-family: futura;
  color: #003d60;
  font-size: 14px;
}
.news-card-page .news-card-page__title {
  color: #003d60;
  font-size: 40px;
  /* font-family: cambria; */
  line-height: 28px;
  padding-bottom: 2.6429rem;
}
.news-card-page .news-card__box {
  background-color: #fff;
  padding-top: 2rem;
  padding-bottom: 3rem;
  height: 100%;
}
.news-card-page .news-card__box img {
  float: left;
  margin: 1rem 3rem 2rem 1rem;
  width: 20rem;
  height: 20rem;
}
.news-card-page .news-card__box p {
  font-family: futura;
  color: #003d60;
  font-size: 18px;
}
@media only screen and (max-width: 576px) {
  .news-card-page .news-card__box img {
    margin: 0;
  }
}

/* end news-card  */

/* filter  */

/* end filter */

.swal-modal .swal-footer button {
  color: #ffffff;
  font: 14px "FuturaPTBook", sans-serif;
  background: linear-gradient(to bottom, #00aab7 0%, #25b2b8 100%);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.swal-modal .swal-footer {
  display: flex;
  justify-content: center;
}
.swal-modal .swal-footer button:hover {
  transition: all 0.5s ease-in-out;
  background: linear-gradient(to top, #00aab7 0%, #25b2b8 100%);
}

/* BASKET STYLES  */

.basket-contacts-and-paying {
  border-bottom: 1px solid #f28b07;
  padding: 3rem 0;
}
.basket-contacts-and-paying form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.basket-contacts-and-paying form .left-side,
.basket-contacts-and-paying form .right-side {
  width: 48%;
}
.basket-contacts-and-paying form .left-side span,
.basket-contacts-and-paying form .right-side span {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.basket-contacts-and-paying form .left-side input,
.basket-contacts-and-paying form .right-side input {
  width: 100%;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 10px 14px;
  margin-top: 5px;
  border: 1px solid #c1c1c1;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.basket-contacts-and-paying form .left-side .email-tel,
.basket-contacts-and-paying form .right-side .email-tel {
  margin: 1rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.basket-contacts-and-paying form .left-side .email-tel div,
.basket-contacts-and-paying form .right-side .email-tel div {
  width: 48%;
}
.basket-contacts-and-paying form .left-side .comment,
.basket-contacts-and-paying form .right-side .comment {
  padding-top: 1rem;
}
.basket-contacts-and-paying form .left-side .comment textarea,
.basket-contacts-and-paying form .right-side .comment textarea {
  width: 100%;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 12px 16px;
  margin-top: 10px;
  border: 1px solid #c1c1c1;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  min-height: 130px;
}

.basket-contacts-and-paying form .left-side .pay-price,
.basket-contacts-and-paying form .right-side .pay-price {
  border: 1px solid #c1c1c1;
  width: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 360px;
  margin-top: 22px;
  padding: 2.5rem;
}
.basket-contacts-and-paying form .left-side .pay-price hr,
.basket-contacts-and-paying form .right-side .pay-price hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #818181;
}
.basket-contacts-and-paying form .left-side .pay-price .products-price,
.basket-contacts-and-paying form .right-side .pay-price .products-price {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.basket-contacts-and-paying form .left-side .pay-price .products-price p,
.basket-contacts-and-paying form .right-side .pay-price .products-price p {
  width: 50%;
}
.basket-contacts-and-paying form .left-side .pay-price .products-price p:first-child,
.basket-contacts-and-paying form .right-side .pay-price .products-price p:first-child {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #32383d;
}
.basket-contacts-and-paying form .left-side .pay-price .products-price p:last-child,
.basket-contacts-and-paying form .right-side .pay-price .products-price p:last-child {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #00aab7;
  font-size: 24px;
  text-align: right;
}
.basket-contacts-and-paying form .left-side .pay-price .total,
.basket-contacts-and-paying form .right-side .pay-price .total {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.basket-contacts-and-paying form .left-side .pay-price .total p,
.basket-contacts-and-paying form .right-side .pay-price .total p {
  width: 50%;
}
.basket-contacts-and-paying form .left-side .pay-price .total p:first-child,
.basket-contacts-and-paying form .right-side .pay-price .total p:first-child {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #32383d;
}
.basket-contacts-and-paying form .left-side .pay-price .total p:last-child,
.basket-contacts-and-paying form .right-side .pay-price .total p:last-child {
  text-align: right;
  color: #00aab7;
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.basket-contacts-and-paying form .left-side .pay-price .total-payment,
.basket-contacts-and-paying form .right-side .pay-price .total-payment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3.5rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.basket-contacts-and-paying form .left-side .pay-price .total-payment .next-del a,
.basket-contacts-and-paying form .right-side .pay-price .total-payment .next-del a {
  display: block;
  color: #818181;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-decoration: underline;
  font-size: 15px;
}
.basket-contacts-and-paying form .left-side .pay-price .total-payment .next-del a:last-child,
.basket-contacts-and-paying form .right-side .pay-price .total-payment .next-del a:last-child {
  margin-top: 1rem;
}
.basket-contacts-and-paying form .left-side .pay-price .total-payment .btn-pay,
.basket-contacts-and-paying form .right-side .pay-price .total-payment .btn-pay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  height: 49px;
  width: 279px;
  border: 1px solid #00aab7;
  background: #00aab7;
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #fff;
}
.basket-contacts-and-paying form .left-side .pay-price .total-payment .btn-pay:hover,
.basket-contacts-and-paying form .right-side .pay-price .total-payment .btn-pay:hover {
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background: #fff;
  color: #00aab7;
}

/* END BASKET STYLES */
/* базовый контейнер уведомлений */
.message {
  background-size: 40px 40px;
  background-image: -moz-linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.05) 50%,
    rgba(255, 255, 255, 0.05) 75%,
    transparent 75%,
    transparent
  );
  background-image: -webkit-linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.05) 50%,
    rgba(255, 255, 255, 0.05) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.05) 50%,
    rgba(255, 255, 255, 0.05) 75%,
    transparent 75%,
    transparent
  );
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  font: 16px "Open Sans";
  width: 25%;
  margin: 20px auto;
  padding: 15px;
  -moz-animation: bg-animate 5s linear infinite;
  -webkit-animation: bg-animate 5s linear infinite;
  -ms-animation: bg-animate 5s linear infinite;
  animation: bg-animate 5s linear infinite;
}

/* заголовок сообщения */
.message span {
  font-weight: 600;
}

/* кнопка закрытия */
.message #close {
  float: right;
  color: inherit;
  text-decoration: none;
}

.message#error {
  background-color: #fff;
  /* border-left: 7px #dc3d21 solid; */
  color: #000;
  position: absolute;
  top: 5%;
  left: 5%;
}

/* предупреждение */
.message#warning {
  background-color: #eaaf51;
  border-left: 7px #df8b00 solid;
  color: #6b6d31;
  position: absolute;
  top: 5%;
  left: 5%;
}

/* успешное событие */
.message#success {
  background-color: #fff;
  /* border-left: 7px #5393b7 solid; */
  color: #000;
  position: absolute;
  top: 15%;
  left: 40%;
}

.paymentModal .modal-body {
  display: flex;
  justify-content: space-evenly;
}
.paymentModal .transaction-btn,
.online-btn {
  border: 1px solid #00aab7;
  background: #00aab7;
  padding: 0.5rem 0.5rem;
  font-size: 15px;
  text-decoration: none;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #fff;
}
.paymentModal .transaction-btn,
.online-btn:focus {
  outline: none;
}
.payment-choice p {
  font-family: "Open Sans", sans-serif;
}

.table-altuka {
  border: 1px solid black;
}
.table-altuka th,
td {
  border: 1px solid black;
  border-bottom: 1px solid black !important;
}
@media (max-width: 576px) {
  .basket-contacts-and-paying form .left-side .pay-price, .basket-contacts-and-paying form .right-side .pay-price {
    height: unset;
  }
  .message#error{
    width: 100%;
    left: 0 !important;
  }
}